
<div class="title">
<h1><strong>Biblioteca.</strong></h1>




<div class="divbusca">
<%= form_with url:homepage_search_path, local:true, method: :get do %>
<div>
    <%= text_field_tag "busca", nil, placeholder: 'Buscar livro', class: 'buscarLivro'  %>
    <%= submit_tag "enviarBusca"%>
</div>
<% end %>
</div>



<div class="divbuscafooter">
<p>  <%= link_to "Books", books_path %></p>
<p><%= link_to "AUTHORs page", authors_path %></p>
</div>
</div>
