<div class="searchPage">
    <div class="searchPageNavBar">
        <p><%= link_to "AUTHORs page", authors_path %></p>
    </div>

    <div class="searchPageBody">
        <% @livroAzkaban['items'].each do |volume| %>
            <% if volume['volumeInfo'].include?('imageLinks') %>
                <div>
                    <%= image_tag volume['volumeInfo']['imageLinks']['thumbnail'], class: "" %>
                </div>
            <% end %> 
        <% end %>
    </div>
    <div class="searchPageFoot">
            <p>  <%= link_to "Books", books_path %></p>
            <p><%= link_to "AUTHORs page", authors_path %></p>
            <p><%= link_to "Home page", root_path %></p>
    </div>
</div>